<div class="container-fluid">
  <div class="row-fluid">

    <div id="sidebar" class="span2">

      <ul class="nav nav-list">
        <li class="active">
          <a href="#"><i class="icon-white icon-asterisk"></i> All tasks</a>
          <ul>
            <li class="active"><a href="#all/incomplete"><i class="icon-chevron-right"></i> Incomplete</a></li>
            <li><a href="#all/overdue"><i class="icon-empty"></i> Overdue</a></li>
            <li><a href="#all/today"><i class="icon-empty"></i> Due today</a></li>
            <li><a href="#all/week"><i class="icon-empty"></i> Due 7 days</a></li>
            <li><a href="#all/complete"><i class="icon-empty"></i> Complete</a></li>
          </ul>
        </li>
        <li class="nav-header">Tags</li>
        <li><a href="#"><i class="icon-tag"></i> One</a></li>
        <li><a href="#"><i class="icon-tag"></i> Two</a></li>
        <li><a href="#"><i class="icon-tag"></i> Three</a></li>
      </ul>

    </div>

    <div id="main" class="span10">

    </div>

  </div>
</div>
