<div class="container-fluid">
  <div class="row-fluid">

    <div id="sidebar" class="span2">

      <ul class="nav nav-list">
        <li class="active">
        <a href="#"><i class="icon-white icon-asterisk"></i> All tasks</a>
          <ul>
            <li class="active"><a href="#"><i class="icon-chevron-right"></i> Incomplete</a></li>
            <li><a href="#"><i class="icon-empty"></i> Overdue</a></li>
            <li><a href="#"><i class="icon-empty"></i> Due today</a></li>
            <li><a href="#"><i class="icon-emtpy"></i> Due 7 days</a></li>
            <li><a href="#"><i class="icon-empty"></i> Complete</a></li>
          </ul>
        </li>

        <li class="nav-header">Lists</li>
        <li><a href="#"><i class="icon-check"></i> List one</a></li>
        <li><a href="#"><i class="icon-check"></i> List two</a></li>
        <li><a href="#"><i class="icon-check"></i> List three</a></li>

        <!--
        <li class="nav-header">Tags</li>
        <li class="active"><a href="#"><i class="icon-white icon-tag"></i> tagone</a></li>
        <li><a href="#"><i class="icon-tag"></i> tagtwo</a></li>
        <li><a href="#"><i class="icon-tag"></i> tagthree</a></li>
        -->

        <a href="#" class="btn" style="margin-top: 1em">Create list</a>
      </ul>

    </div>

    <div id="main" class="span10">

    </div>

  </div>
</div>
