<!--
<div class="list-controls">
  <div class="sort-btn btn-group">
    <a href="#" class="btn">Priority</a>
    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>Due date</li>
      <li>Date added</li>
      <li>Alphabetical</li>
    </ul>
  </div>
  <a class="admin-btn btn" href="#"><i class="icon-cog"></i> Admin</a>
</div>

<ul class="nav nav-pills">
  <li class="active"><a href="#"><i class="icon-white icon-list"></i> Incomplete</a></li>
  <li><a href="#"><i class="icon-warning-sign"></i> Overdue</a></li>
  <li><a href="#"><i class="icon-time"></i> Due today</a></li>
  <li><a href="#"><i class="icon-time"></i> Due 7 days</a></li>
  <li><a href="#"><i class="icon-ok-sign"></i> Completed</a></li>
</ul>
-->

<div class="addtask">
  <input type="text" id="new-task" name="new-task" placeholder="Add task" />
</div>

<table class="task-table">
  <!--
  <thead>
    <tr>
      <th class="check">
        <input type="checkbox" />
      </th>
      <th class="actions hidden">
        <a href="#" class="btn">Complete</a>
        <a href="#" class="btn">Postpone</a>
        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
          More actions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>Set priority</li>
          <li><a href="#">Priority 1</a></li>
          <li><a href="#">Priority 2</a></li>
          <li><a href="#">Priority 3</a></li>
          <li><a href="#">No priority</a></li>
          <li>Move to list</li>
          <li><a href="#">List two</a></li>
          <li><a href="#">List three</a></li>
        </ul>
      </th>
      <th></th>
    </tr>
  </thead>
  -->
  <tbody>
  </tbody>
</table>
