<ul class="nav nav-pills">
  <li class="active"><a href="#"><i class="icon-white icon-list"></i> Incomplete</a></li>
  <li><a href="#"><i class="icon-warning-sign"></i> Overdue</a></li>
  <li><a href="#"><i class="icon-time"></i> Due today</a></li>
  <li><a href="#"><i class="icon-time"></i> Due 7 days</a></li>
  <li><a href="#"><i class="icon-ok-sign"></i> Completed</a></li>
</ul>

<div class="addtask">
  <input type="text" id="new-task" name="new-task" placeholder="Add task" />
</div>

<ul class="tasks"></ul>
