<div class="list-controls">
  <div class="add-task">
    <input type="text" id="new-task" name="new-task" placeholder="Add task" />
  </div>
  <div class="selection-actions closed">
    <div class="controls btn-toolbar">
      <input class="group-select" type="checkbox" />
      <div class="btn-group">
        <a href="#" class="btn">Complete</a>
      </div>
      <div class="btn-group">
        <a href="#" class="btn">Postpone</a>
      </div>
      <div class="btn-group">
        <a href="#" class="btn">Edit</a>
      </div>
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          More actions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Set priority 1</a></li>
          <li><a href="#">Set priority 2</a></li>
          <li><a href="#">Set priority 3</a></li>
          <li><a href="#">Clear priority</a></li>
          <li><a href="#">Move to list one</a></li>
          <li><a href="#">Move to list two</a></li>
          <li><a href="#">Move to list three</a></li>
        </ul>
      </div>
    </div>
    <div class="handle">
      <div class="handle-extender"></div>
      <div class="handle-arrow-shadow"></div>
      <div class="handle-arrow"></div>
      <div class="handle-label">More</div>
    </div>
  </div>
</div>

<table class="task-table">
  <tbody></tbody>
</table>
